<section class="wrapper">

<!-- top part -->
	<div class="poll row row-nomargin clearfix">
		
			<div class="poll_scene" style="background-image:url(<%= @poll.image %>)">

			<% @poll.poll_questions.reorder(:order).each do |pq| %>
				<%= render :partial => "polls/template_scene_layer", :locals =>{:q_id => pq.id, :start_image => true, :a_id => nil} %>
			<% end %>
		      
			</div>
		
	</div>
<!-- end top part -->

	





	<div class="row row-nomargin clearfix">
	
		
	
<!-- question loop -->
<% pos = 0 %>

<%= form_for(@poll, :url => {action: "save_poll"}, html: { onsubmit: "return check_poll_submit()"} ) do |f| %>
<% @poll.poll_questions.reorder(:order).each do |pq| %>
	
		<%  if(pos >= (colors.count-1)) 
            pos =0 
          else
            pos = pos + 1
          end
        %>

			<% if pq.poll_answers.empty? %>
				<center><h2>No items found.</h2></center>
			<% else %>
				
				<div class="col-md-3 col-nomargin">

					<div class="panel-split panel-frame panel panel-<%= colors[pos] %> clearfix">
					 	
					 	<div class="poll summary">
						 	<h4><%= pq.title %></h4>
					 	</div>


						<div class="row  clearfix">

							<div class="col-xs-12">

								<div class="poll carousel theme-gold theme-invert">

									<div class="poll-slider-parent">
										<ul class="bxslider poll-slider slider ">
											<% pq.poll_answers.each do |item| %>
												<li data-id="<%= item.id %>" data-question="<%= pq.id %>">
													<%=  image_tag(item.slide_image, :height => '160', :class => "poll-image data-id=#{item.id}") %>

													<h3><%= item.title %></h3>
												</li>
											<% end %>
										</ul>
										<div class="panel-<%= colors[pos] %> poll-slider-overlay" id="poll_slider_overlay_<%= pq.id %>">
											<%=  image_tag(pq.image) %>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>
					
					<%= hidden_field_tag "poll_question_#{pq.id}", "", :class =>  "poll_answer" %>

				</div>


	



			<% end %>



	

<% end %>
		

	</div>
<!-- submit button -->
	<div class="row row-nomargin clearfix">

		<div class="poll banner theme-red">

			<div class="well well-frame col-md-12">
			
				<div class="col-md-9">
				<h3>Create your scene!</h3>
				<h4>Choose the elements above, then hit the SUBMIT SCENE button:</h4>
				</div>

				<div class="col-md-3">
					<%= f.submit "SUBMIT SCENE", class: "btn btn-lg btn-primary  btn-block" %>
				</div>

			</div>

		</div>
	</div>

<!-- end submit button -->
<% end %>
<!-- end question loop -->

<!-- modal for not all selected -->
<div class="modal fade" id="pollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Select every item!</h3>
      </div>
      <div class="modal-body">
       <p>Please make sure every item has been chosen and hit the <b>Submit</b> button again!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>
      </div>
    </div>
  </div>
</div>





</section>