<section class="wrapper">

	<% if !@poll.image_file_name.nil? %>	
	<!-- top part -->
	<div class="poll row row-nomargin clearfix">
			
			<div class="poll_scene" style="background-image:url(<%= @poll.image %>)">
		

			<% @poll.poll_questions.reorder(:order).each do |pq| %>
				<%= render :partial => "polls/template_scene_layer", :locals =>{:q_id => pq.id, :start_image => true, :a_id => nil} %>
			<% end %>
		      
			</div>
		
	</div>
	<!-- end top part -->
	<% end %>


	<!-- text area -->

	<div class="row row-nomargin clearfix">

		<div class="poll banner theme-red">

			<div class="well well-frame col-md-12">
			
				<div class="col-md-12">
				<h3>THE VOTES ARE IN!</h3>
				<h4>Lucky and RAINBOW will journey through the SNOWY SLOPES, but when the TASTY TWISTER gets in their way, can they ride the DELICIOUS DIMENSION to the end of the adventure? Find out on January 9th, and until then, keep checking right here for updates on YOUR STORY!</h4>
				</div>


			</div>

		</div>
	</div>



	<% pos = 0 %>
	<div class="row clearfix">
		<div class="col-md-12 column">
		<% @poll.poll_questions.reorder(:order).each do |pq| %>

		<%  if(pos >= (colors.count-1)) 
	        pos =0 
	      else
	        pos = pos + 1
	      end
	    %>

		<!-- draw panel -->

			<div class="row clearfix">
				<div class="col-md-12">
					<div class="panel-split panel-frame panel panel-<%= colors[pos] %> clearfix">

						<div class="poll summary">
						 	<h2><%= pq.title %></h2>
					 	</div>

						<ul class="list-group list-group-poll block-grid-sm-3 block-grid-md-4">
						<% pq.poll_answers.each do |item| %>
							<li class="list-group-item block-grid-item">
						      	<div class="row clearfix">
						      		<div class="col-xs-8">
							      		<%=  image_tag(item.slide_image, :height => '90', :class => "thumbnail") %>
							    	<h4><%= item.title %></h4>
								   	</div>
								   	<div class="col-xs-4">
									    <div class="button-pop vote">
										    <div class="pop-number"><%= item.vote_percentage %>%
										</div>
									</div>
									
								</div>
							</li>


						<% end %>
						</ul>



					</div>
				</div>
			</div>
		<!-- end draw panel -->






		<% end %>


		</div>
	</div>
	
</section>