<section class="wrapper">

<!-- top part -->
	<div class="poll row clearfix">
		<div class="thumbnail">
			<div class="poll_scene">

				<img class="poll_scene_layer" src="<%= @poll_scene.image.url %>" />
		      
			</div>
		</div>
	</div>
<!-- end top part -->



<!-- item.chicago_votes / pq.chicago_votes  -->


	
	<% pos = 0 %>
	<div class="row clearfix">
		<div class="col-md-12 column">
		<% @poll.poll_questions.reorder(:order).each do |pq| %>
	
		<%  if(pos >= (colors.count-1)) 
            pos =0 
          else
            pos = pos + 1
          end
        %>

		<!-- draw panel -->

			<div class="row clearfix">
				<div class="col-md-12">
					<div class="panel-split panel-frame panel panel-<%= colors[pos] %> clearfix">

						<div class="poll summary">
						 	<h2><%= pq.title %></h2>
					 	</div>

						<ul class="list-group list-group-poll block-grid-sm-4">
						<% pq.poll_answers.each do |item| %>
							<li class="list-group-item block-grid-item">
						      	<div class="row clearfix">
						      		<div class="col-xs-8">
							      		<%=  image_tag(item.slide_image, :height => '90', :class => "thumbnail") %>
							    	<h4><%= item.title %></h4>
								   	</div>
								   	<div class="col-xs-4">
									    <div class="button-pop vote">
											<div class="poll-pad"></div>
										    <div class="pop-number"><%= item.vote_percentage %>%</div>
										</div>
									</div>
									
								</div>
							</li>


						<% end %>
						</ul>



					</div>
				</div>
			</div>
		<!-- end draw panel -->
	





		<% end %>


		</div>
	</div>



</section>